

body {
	font-family: 'Open Sans', sans-serif;
	color: #5e5e5e;
    font-weight: 300;
}
h4.big {
	font-family: 'Open Sans', sans-serif;
	color: #5e5e5e;
	font-weight: 300;
	line-height: 1.5;
}
p {
	font-family: 'Open Sans', sans-serif;
	color: #5e5e5e;
	font-weight: 300;
	line-height: 1.5;
	font-size: 120%;
}
.projects-title {
    margin-top: 50px;
}
.title {
    color: silver;
    margin-bottom: 50px;
    text-align: center;
}
hr {
    display: block;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}
.button-style {
	font-family: 'Open Sans', sans-serif;
	color: #5e5e5e;
	font-weight: 300;
}
.text-muted {
    color: #BCBBBB;
}
.text-thin {
    font-weight: 100;
}
.title-super {
    font-size: 60px;
}
.title-logo {
	max-width: 100px;
	max-height: 100px;
    margin: 20px;
}
.section {
	color: dimgray;
}
.img-project {
    max-height: 300px;
}
.mouse-hover {
	cursor: pointer;
}
.pull-right {
	float: right;
}
footer {
	margin-top: 50px;
	font-size: 1.2em;
	font-weight: 400;
	text-align: center;
}
iframe {
    border: 0;
}
